<mat-card appearance="filled">
  <mat-card-header>
    <mat-card-title>Create new project</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      Start here if you're new to Light Matter Gallery Manager
      or want to create yet another gallery.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button matButton>CREATE</button>
  </mat-card-actions>
</mat-card>

<mat-card appearance="filled">
  <mat-card-header>
    <mat-card-title>Open a project</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      Open an existing gallery project to make any adjustments.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button matButton>OPEN</button>
  </mat-card-actions>
</mat-card>

<mat-card appearance="filled">
  <mat-card-header>
    <mat-card-title>Recent projects</mat-card-title>
  </mat-card-header>

  <mat-card-content>
<!--    <p>No recent projects yet...</p>-->
    <ul>
      <li>Project 1</li>
      <li>Project 2</li>
      <li>Project 3</li>
      <li>Project 4</li>
      <li>Project 5</li>
    </ul>
  </mat-card-content>

  <mat-card-actions>
    <button matButton>CLEAR RECENT</button>
  </mat-card-actions>
</mat-card>


